{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
  <div id="warnings"></div>
  <h3>Inserisci l'intervallo di tempo (nel formato (YYYY MM DD))in cui il database cercherà oppure in alternativa clicca su 'Vedi tutti'</h3>
  <br>
  <h6>Inizio dell'intervallo</h6>
  <input type="number" id="startyear" placeholder="YYYY">
  <input type="number" id="startmonth" placeholder="MM">
  <input type="number" id="startday" placeholder="DD">
  <br>
  <h6>Fine dell'intervallo</h6>
  <input type="number" id="endyear" placeholder="YYYY">
  <input type="number" id="endmonth" placeholder="MM">
  <input type="number" id="endday" placeholder="DD">
  <br>
  <br>
  <button onclick="get()">Cerca</button>
  <button onclick="getall()">Vedi tutti</button>
</div>
<script>

function invaliddate() {
  document.getElementById('warnings').innerHTML = '<div class="alert alert-warning"><strong>Immetti una data valida</strong></div>'
}
function incompletedata() {
  document.getElementById('warnings').innerHTML = '<div class="alert alert-warning"><strong>Immetti tutti i campi</strong></div>'
}

function get() {

  start = [document.getElementById('startyear').value, document.getElementById('startmonth').value, document.getElementById('startday').value]
  end = [document.getElementById('endyear').value, document.getElementById('endmonth').value, document.getElementById('endday').value]


  if (start[0] == '' || start[1] == '' || start[2] == '') {
    incompletedata()
    return
  }
  if (end[0] == '' || end[1] == '' || end[2] == '') {
    incompletedata()
    return
  }
  console.log(start[1].length)
  console.log(end)
  if (start[1].length == 1) {
    start[1] = '0' + start[1]
  }
  if (start[2].length == 1) {
    start[2] = '0' + start[2]
  }

  URL = 'http://10.67.30.230/pdf/' + start[0] + '/' + start[1] + '/' + start[2] + '/' + end[0] + '/' + end[1]
  URL = URL + '/' + end[2] + '/'

  if (start[2] > 31) {
    invaliddate()
    return
  }
  if (start[1] > 12) {
    invaliddate()
    return
  }
  if (start[0] < 2000) {
    invaliddate()
    return
  }

  win = window.open(URL);
}
function getall() {
  URL = 'http://10.67.30.230/getall/'
  win = window.open(URL)
}
</script>
{% endblock %}
