{% extends 'base.html' %}
{% block content %}
<br>
  <h1 class="titletext">Scrivi il tuo problema</h1>
<br>

<form method="POST">
  <div class="box" id="boxcontainer">
{% csrf_token %}
<!--{{form.as_p}}-->

    <ul style="list-style-type:none">

      <li>
          Classe: {{form.classe}}
      </li>
      <br>
      Descrizione del problema:
      <li>
        {{form.descrizioneProblema}}
      </li>
    </ul>
    <button type="submit" class="save btn btn-primary">Salva</button>
    <br>
  </div>
</form>
{% endblock %}
