{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
<br>
<h4>Contatti</h4>
<br>
<h5>Sviluppatori:</h5>
<ul>
  <li><a href="mailto:vincent.bossaerts@icloud.com">
        <font color="black">Tommaso Patriti (V qualcosa)</font><img  src="{% static 'img/email.svg' %}" class="contact" alt="email"></img>
  </a></li>
  <li><a href="mailto:tommasopatriti@gmail.com">
        <font color="black">Vincent Bossaerts (IIB)</font><img  src="{% static 'img/email.svg' %}" class="contact" alt="email"></img>
  </a></li>
</ul>



</div>
{% endblock %}
