{% extends 'base.html' %}
{% block content %}

{%if user.is_staff%}
<br>
  <h1 class="titletext">Aggiungi un tag al problema</h1>
<br>
<div class="container">
  <div id="success">
    {{success|safe}}
    {{notesuccess|safe}}
  </div>
  <table class="table">
    <tr scope="row"><td><h5 class="left">Autore:</h5> {{ problema.autore }}</td></tr>
    <tr><td><h5 class="left">Classe:</h5> {{ problema.classe }}</td></tr>
    <tr><td scope="row"><h5 class="left">Descizione:</h5> {{ problema.descrizioneProblema}}</td></tr>
  </table>
</div>


<form method="POST" class="form-group">
  <div class="box container" id="boxcontainer">
{% csrf_token %}
<div class="container">





    <button type="submit"  name="In Attesa" class="save btn btn-warning">In Attesa</button>
    <button type="submit"  name="Riparato!" class="save btn btn-success">Riparato!</button>
    <button type="submit"  name="Rimandato" class="save btn btn-dark">Rimandato</button>
    <br>

<br><br>
  </div>
</div>
</form>

<form method="POST" class="form-group">
  {% csrf_token %}
{{form}}
<br>
    <button type="submit" name="NoteProblema" class="save btn btn-primary">Salva nota</button>
</form>

{%else%}
<h2>Pagina riservata allo staff autorizzato</h2>
{%endif%}
{% endblock %}
